.spin {
    animation-name: spin;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1440deg);
    }
}

#first {
    position: absolute;
    top: 20%;
    left: 20%;
}

#second {
    position: absolute;
    top: 30%;
    left: 40%;
}

body {
    height: 800px;
    width: 800px;
}

.bar {}

.barReimbursement {
    fill: red;
}

.highlight {
    fill: orange;
}

.axisText {
    stroke: black;
    font-size: 13px;
}

.hidden {
    display: none;
}

.primaryButton, .primaryButton:hover, .primaryButton:visited {
    padding: 10px;
    border-radius: 10px;
    border-color: #424860;
    color: white;
    background: linear-gradient(145deg, #424860, #181a24);
}

.deleteButton, .deleteButton:hover, .deleteButton:visited {
    padding: 10px;
    border-radius: 10px;
    border-color: #ff0000;
    color: white;
    background: linear-gradient(145deg, #ec5151, #ff0000);
}

#parsingNotCompleted {
    font-size: 12pt;
}